
#pie{
  display: flex;
}

#pie body{
  display: flex;
}
#pizza {display: flex;
  flex-direction: column;

   }

.background{
flex:1;
  width:100%;
  height: 800px;
  position: absolute;
  z-index: 3;
text-align: center;
align-items:center;
top:100px;
background-image: url('/partials/pictures/italy.jpg');
background-size: cover;
background-repeat:no-repeat;
}

.header {
  color: #475780;
  font-size: 50px; }

#header-out {
  font-size: 2em;
  color: #475780;
  text-align: center; }

#header-reg {
  color: #475780;
  font-size: 2em;
  margin-left: 160px; }

.form-group {
  margin: 0% 30% 0% 65%; }

.form-group label, input {
  color: #475780; }

.mrShineHeader {
  color: #475780;
  margin: 0px 0px 0px 50%;
  font-size: 112px; }

.mrShineWelcome {
  color: #475780;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  text-align: center; }
#schedule-text {
  flex:1;
  margin: 0% 0px 2px 0px;
font-size: 20px;
}

#schedule-text li {
    flex:1;
    margin: 11% 11% 0% 0%;
    color: #174D2A;
float: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.toppings{
  display: flex;

}
.pizzaRadio{
  flex:1
}

h1{
  text-align: center;
  position: relative;
  margin:auto;
  font-size: 4em;
  font-weight: bold;
  color: red
}
h2{
  text-align: center;
  position: relative;
  margin:auto;
  font-size: 2em;
  font-weight: bold;
  color: red
}
.logo{

  width:25%;
  height: 50%;
  padding-top: 5%;
  clear:both;
}

.btn-align-align button {
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 0px 100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top, #63B8EE, #CCBBE1);
  background: -ms-linear-gradient(top, #63B8EE, #BBC6E1);
  margin-left: 160px; }

.btn-align-align button:hover {
  background-color: #99ddff; }

  #pie {
    display: flex; }

  #pizzaContainer {
    margin: 0 auto; }

  .pizzaParent {
    display: flex;
    border-radius: 50%;
    overflow: hidden; }

  .pizzaParent img {
    width: 100%; }

  .pizzaPie {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    margin: 0;
    color: #CCBBE1;
    text-align: center;
    font-size: 3rem;
    transform: scale(0); }

  #pizzaConfirm {
    clear: both;
    font-size: 1.8em;
    font-style: "Trebuchet MS", Helvetica, sans-serif;
    color: #326496;
    font-style: oblique; }
    .buttons {
      width: 150px;
      height: 5%;
      background: transparent;
      flex: 1;
      position: relative;
      padding: 20px 38px;
      top: 0;
      font-size: 30px;
      font-family: 'Open Sans', Helvetica;
      border-radius: 4px;
      border-bottom: 1px solid #475780;
      background: #CCBBE1;
      color: #fff;
      box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1); }

@media screen and (max-width:800px){
  .background{
    display: flex;
    width:800px;
    height: 800px;
    position: absolute;
    z-index: 3;
  text-align: center;
  align-items:center;
top:25px
  }
}
