@media (max-width:800px){

  .mainMenu {
    display: none;
}

  #menuCollapsed {
    display:flex;
}

  #shrunkMenu{
    flex:1;
    width: 100%;
    font-size: 1em;
   height:25px;
   position: fixed;
   padding:1px;
    background-image: url('/partials/pictures/menu.png');
  z-index: 1
  }

   .smallMainMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height:130px;

    text-shadow: 0.01px 0.01px 0px #7CACDE;
    box-shadow: 0.01px 0.01px 0.01px #BEE1CA;
    padding: .01px .030px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #475780;
    background: linear-gradient(top, #63B8EE, #CCBBE1);
    background: -ms-linear-gradient(top, #63B8EE, #BBC6E1);
   }
   .smallMainMenu a {
    flex:1;
    color: #CCBBE1;
    text-decoration: none;
      flex-basis: 100%;
    text-size: .3em;
    letter-spacing: .2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-bottom: 1px dotted gray;
    text-align: center;
    clear: both; }
   .smallMainMenu li ul {
    font-size: 3em;
    color: #475780;
    text-align: center; }

  #closed {
    display: none;
    position: relative;
    background-color: #475780; }
  }

  @media (min-width:800px){
    #menuCollapsed {
      display: none;
      width: 100%;
      height:auto;
      font-size: 1.8em;
     height:25px;
     padding:28px;
      z-index: 5;
      background-image: url('/partials/pictures/menu.png'); }
.mainMenu{
  background-color: black;
display:flex;
flex-basis: 100%;
text-align: center;
font-family: sans-serif;
color: white;
flex-direction: row;
align-items: center;
height: 100px;
width: 100%
}
li{
  background-color: black;
font-size: 20px;
text-decoration: none;
font-family: sans-serif;
color: white;
flex-basis: 25%;
width: 25%
}
 a{
  flex-basis: 100%;
  color: white;
width: 100%;
text-decoration: none;
}
#menu{
  flex:1;
  flex-basis: 100%;
  padding-right: 15px;
  padding-left: auto;
  color: white
}
    /* menuControls */
    #closed{
      display:none;

      background-color: $white;
    }
    .smallMainMenu {
      display: none }

       .smallMainMenu a {
        display: none
    }
       .smallMainMenu li ul {
        display:none
  }

  }
