
.mainMenu {
display: none
}
#container{
  display: flex;
    flex-direction: column;
}
#open{
flex:1
}
#buttonWrap{
  display: flex;
  position: relative;
  flex-direction: column;
}

#square{
  flex:1;
  position:relative;
  flex-shrink:2
}
  #menuCollapsed {
    display: none;
    position: relative;
    width: 9%;
    height: 3em;
    background-image: url(http://samdubery.files.wordpress.com/2010/02/sniper_scope.jpg); }

#buttonWar {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: rgb(100,100,100);
  color: black; }
.bombSection{
border: 1px solid black;
  top: 25%;
  background-image:url('./partials/pictures/battle.jpg');
  background-repeat:no-repeat;
  background-size:100%;
   background-color:"black"
}
#buttonControls{
  display: flex;
  flex-direction: row;
  margin: 13px;
  padding: 13px;
  /* border: 1px solid black */
}
#butt1{
  flex:1;
  flex-basis: 25%
}
#butt2{
  flex:1;
  flex-basis: 25%
}

#butt3{
  flex:2;
  flex-basis: 25%
}
#butt4{
  flex:1;
  flex-basis: 25%
}
.myWarButton {
flex:1;
  position: relative;
  color: #CCBBE1;
  font-size: 12px;
  line-height: 23px;
  padding: 13px;
  border-radius: 22px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none solid #444444;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  background-image: radial-gradient(at center center, #1c6ea4 0%, #2388cb 60%, #144e75 100%);
  box-shadow: black 19px 16px 52px 11px;
  border: 2px dashed #1c6ea4;
flex-basis: 20%;
  padding: .5px;
  text-align: center; }

.myWarButton:hover {
  border: 2px dashed #CCBBE1; }

.myWarButton:active {
  background: #CCBBE1; }

.buttons {
  width: 400px;
  height: 400px;
  background: transparent;
  flex:1;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: 'Open Sans', Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  background: #16e689;
  color: #fff;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1); }

.pictureFun {
  display: block;
  width: 300px;
  margin: 0 auto;
  opacity: 0;
  transition: all 200ms ease-in; }

.js-pictureFun-animate {
  opacity: 1;
  animation: pictureFun-jiggle 250ms linear; }

.unit {
  flex:2;
  flex-basis: 20%;
  margin: 0 auto; }

.hover-box {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 4px 10px #7CACDE; }

.hover-box:hover {
  box-shadow: 0 0 4px 20px; }

.hover-box img {
  display: block;
  width: 100%; }

.hover-box h2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  color: #CCBBE1;
  text-align: center;
  font-size: 3rem;
  transform: scale(0);
  transition: all 200ms ease-out; }

.hover-box:hover h2 {
  transform: scale(1); }

.hover-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#pie {
  display: flex; }

#pizzaContainer {
  margin: 0 auto; }

.pizzaParent {
  display: flex;
  border-radius: 50%;
  overflow: hidden; }

.pizzaParent img {
  width: 100%; }

.pizzaPie {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  margin: 0;
  color: #CCBBE1;
  text-align: center;
  font-size: 3rem;
  transform: scale(0); }

#pizzaConfirm {
  clear: both;
  font-size: 1.8em;
  font-style: "Trebuchet MS", Helvetica, sans-serif;
  color: #326496;
  font-style: oblique; }

@keyframes pictureFun {
  0% {
    transform: rotate(0); }
  33% {
    transform: rotate(15deg); }
  66% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0); } }


@media (max-width: 760px) {
  #container{
    display: flex;
    flex-direction: column;
    width: 100%
  }
  #buttonWar {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #174D2A;
    color: #CCBBE1; }
  .bombSection{
    margin-top: 25%
    background-image:url('./partials/pictures/battle.jpg');
    background-repeat:no-repeat;
     background-color:black;
     width:100%
  }
  #square{
    flex:1;
    position:relative;
    flex-shrink:2
  }
#buttonControls{
  flex: 1;
  flex-direction: row
}
#butt3{
  flex:2;
  flex-basis: 75%
}
    #menuCollapsed {
     display: flex;;
      position: relative;
      width: 9%;
      height: 3em;
      background-image: url(http://samdubery.files.wordpress.com/2010/02/sniper_scope.jpg); }
mainMenu{
  flex:1;
  width:100%;
}
    .open .smallMainMenu {
      flex:1;
      text-shadow: 0.01px 0.01px 0px #7CACDE;
      box-shadow: 0.01px 0.01px 0.01px #BEE1CA;
      padding: .01px .030px;
      margin: .02px;
      -moz-border-radius: .010px;
      -webkit-border-radius: .010px;
      border-radius: .010px;
      background: #475780;
      background: linear-gradient(top, #63B8EE, #CCBBE1);
      background: -ms-linear-gradient(top, #63B8EE, #BBC6E1); }
    .open .smallMainMenu a {
      display: none;
      color: #CCBBE1;
      text-decoration: none;
      text-size: .3em;
      letter-spacing: .2em;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-bottom: 1px dotted gray;
      text-align: center;
      clear: both; }
    .open .smallMainMenu li ul {
      display: none;
      font-size: 21.5px;
      color: #475780;
      text-align: center; }

    #closed {
      flex:1;
width: 100%;
      background-color: #475780; }

  .myWarButton {

    flex:1;
    position: relative;
    flex-basis: 30%;
    flex-direction: row;
    color: #CCBBE1;
    font-size: 12px;
    line-height: 23px;
    padding: 13px;
    border-radius: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none solid #444444;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    background-image: radial-gradient(at center center, #1c6ea4 0%, #2388cb 60%, #144e75 100%);
    box-shadow: black 19px 16px 52px 11px;
    border: 2px dashed #1c6ea4;

    padding: .5px;
    text-align: center; }

  .myWarButton:hover {
    flex:1;
    border: 2px dashed #CCBBE1; }

  .myWarButton:active {
    flex:1;
    background: #CCBBE1; }

  .buttons {
    width: 400px;
    height: 400px;
    background: transparent;
    flex:1;
    position: relative;
    padding: 20px 38px;
    top: 0;
    font-size: 30px;
    font-family: 'Open Sans', Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba(28, 227, 125, 0.5);
    background: #16e689;
    color: #fff;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1); }

  .pictureFun {
    flex:1;
    width: 300px;
    margin: 0 auto;
    opacity: 0;
    transition: all 200ms ease-in; }

  .js-pictureFun-animate {
    opacity: 1;
    animation: pictureFun-jiggle 250ms linear; }

  .unit {
    flex:2;
    width: 70%;
    margin: 0 auto; }

  .hover-box {
    flex:1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px 10px #7CACDE; }

  .hover-box:hover {
    box-shadow: 0 0 4px 20px; }

  .hover-box img {
    display: block;
    width: 100%; }

  .hover-box h2 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    color: #CCBBE1;
    text-align: center;
    font-size: 3rem;
    transform: scale(0);
    transition: all 200ms ease-out; }

  .hover-box:hover h2 {
    transform: scale(1); }

  .hover-box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  #pie {
    display: flex; }

  #pizzaContainer {
    margin: 0 auto; }

  .pizzaParent {
    display: flex;
    border-radius: 50%;
    overflow: hidden; }

  .pizzaParent img {
    width: 100%; }

  .pizzaPie {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    margin: 0;
    color: #CCBBE1;
    text-align: center;
    font-size: 3rem;
    transform: scale(0); }

  #pizzaConfirm {
    clear: both;
    font-size: 1.8em;
    font-style: "Trebuchet MS", Helvetica, sans-serif;
    color: #326496;
    font-style: oblique; }

  @keyframes pictureFun {
    0% {
      transform: rotate(0); }
    33% {
      transform: rotate(15deg); }
    66% {
      transform: rotate(-15deg); }
    100% {
      transform: rotate(0); } }

}
